@import url("https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Archivo", sans-serif !important;
  /* font-optical-sizing: auto;
  font-variation-settings: "wdth" 100; */
  font-weight: 600;
  font-style: normal;
  padding: 0;
  margin: 0;
}

button {
  border-radius: 0 !important;
  box-shadow: none !important;
  height: 40px !important;
}

input,
textarea {
  min-height: 40px !important;
  border: 1px solid #b4b4b8 !important;
  border-radius: 2px !important;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

.ant-form-item {
  margin-bottom: 0.5 !important;
}

a:hover {
  text-decoration: underline !important;
  color: #b4b4b8;
}
